.product-card{
    padding: 0.5rem;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 4px;
    box-shadow: var(--box-shadow);

    .card-image{
        width: 100%;
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    .card-info{
        display: flex;
        flex-direction: column;
        gap: 5px;

        p{
         
                font-size: 1.2rem;
            span{
                color: #918e8e;
                font-size: 14px;
            }
        }
        .rating{
            display: flex;
            gap: 5px;
            .star{
                color: var(--light-golden);
                font-size: 14px;
            }
        }

        .color-container{
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 8px;
            span{
                font-size: 1.2rem;
            }
            .colors{
                display: flex;
                gap: 4px;
                .color-green{
                    background-color: #12ae12;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;

                }

                .color-yellow{
                    background-color: #c4d50b;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;

                }
                .color-blue{
                    background-color: #1518e4;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                }

                .color-orange{
                    background-color: #e46115;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                }

                .color-purple{
                    background-color: #a80a49;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                }

                .color-pink{
                    background-color: #c75985;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                }
            }
        }

        .size-container{
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 8px;
            span{
                font-size: 1.2rem;
            }
            .sizes{
                display: flex;
                gap: 4px;

                span{
                    font-size: 14px;
                }
                
            }
        }

        .action-buttons{
            display: flex;
            gap: 0.5rem;
            margin-top: 8px;

            button{
                padding: 0.5rem 1rem;
                background-color: var(--secondary-color);
                color: var(--primary-color);
                border-radius: 3px;
                font-size: 16px;
                border: 1px solid var(--primary-color);
                width: 100%;
                transition: var(--transition);
                &:hover{
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                    
                }
            }

            .cart-icon{
                padding: 0.5rem;
                font-size: 20px;
                background-color: var(--primary-color);
                color: var(--secondary-color);
                border-radius: 3px;
                transition: var(--transition);
                &:hover{
                    background-color: var(--secondary-color);
                    color: var(--primary-color);
                    border: 1px solid var(--primary-color);
                    
                }
            }
        }
    }
    
}