.sizes{
    display: flex;
    gap: 4px;

    .size{
        width: 25px;
        height: 25px;
        background-color: var(--primary-color);
        border: 1px solid #2b3433;
        background-color: #2b3433;
        color: var(--primary-text);
        font-size: 13px;
        text-align: center;
        padding-top: 5px;
        border-radius: 3px;
        cursor: pointer;
        transition: var(--transition);

        &:hover{
            background-color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }
}